<appSettings>
  <add key="GoogleClientID" value="943077304612-0vpgn1hpm7054dk2mq8fkdirpbk0lgmo.apps.googleusercontent.com" />
  <add key="GoogleClientSecret" value="v76XPL8wZKEdcO8ZRcOnBA3Q" />
  <add key="sendGridKey" value="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"/>
</appSettings>
