
@{
    ViewBag.Title = "Subscribe";
}

<div class="row">
    <div class="col-md-8 subscriptionDiv">
        <h3>Subscribe</h3>
        <form data-bind="submit: subscribe">

                <input class="form-subscribe" type="text" placeholder="Full Name" data-bind="value: subscriberName" />
          
                <input class="form-subscribe" type="text" placeholder="Email Address" data-bind="value: subscriberEmail" />

                <label>Business Category</label>
                    <select name="subscriptionId" class="dropdown">
                        <option selected="selected" value="1">All Categories</option>
                        <option value="2">Agriculture</option>
                        <option value="3">Fashion</option>
                    </select>

                <label>Subscription Period</label>
                <select name="subscriptionId" class="dropdown">
                    <option selected="selected" value="1">3 months subscription $30</option>
                    <option value="2">6 months subscription $50</option>
                    <option value="3">12 months subscription $80</option>
                </select>

                <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>

</div>

