
@{
    ViewBag.Title = "SellABusiness";
}
    <section class="sell-a-business front-section">
        <div class="mi-overlay-black"></div>
        <div class="frontSliderItem">
            <div class="frontSliderContent">
                <div class="frontSliderOverlay"></div>
                <h1 class="sliderTitle">
                    <span class="sliderTag">Sell A Business</span>Do it the easy way!
                </h1>
                <p class="sliderParagraph">Post your business in the sale listing on Fovea and get exposed to hundreds of prospective buyers.</p>
            </div>
        </div>
    </section>
<section style="padding-top:0; padding-bottom:70px; background-color:gainsboro">
    <div class="container">
        <h2 class="mi-mt-40"> Pricing & Packages</h2>
        <div class="row">
            <ul class="pricing_table">
                <li class="price_block">
                    <h4>Limited Free Trial</h4>
                    <div class="price">
                        <div class="price_figure">
                            <span class="price_tenure">List your business for free <br />for 10 days</span>
                        </div>
                    </div>
                    <ul class="features"></ul>
                    <div class="price_footer">
                        <a href="#" class="action_button">Get Started</a>
                    </div>
                </li>

                <li class="price_block">
                    <h4>3 Months</h4>
                    <div class="price">
                        <div class="price_figure">
                            <span class="price_number">R99.9</span>
                            <span class="price_tenure">per month</span>
                        </div>
                    </div>
                    <ul class="features"></ul>
                    <div class="price_footer">
                        <a href="#" class="action_button">Buy Now</a>
                    </div>
                </li>
                <li class="price_block">
                    <h4>6 Months</h4>
                    <div class="price">
                        <div class="price_figure">
                            <span class="price_number">R149.99</span>
                            <span class="price_tenure">per month</span>
                        </div>
                    </div>
                    <ul class="features"></ul>
                    <div class="price_footer">
                        <a href="#" class="action_button">Buy Now</a>
                    </div>
                </li>
                <li class="price_block">
                    <h4>Unlimited Duration</h4>
                    <div class="price">
                        <div class="price_figure">
                            <span class="price_number">R250.00</span>
                            <span class="price_tenure">per month</span>
                        </div>
                    </div>
                    <ul class="features"></ul>
                    <div class="price_footer">
                        <a href="#" class="action_button">Buy Now</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>

</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="mi-pl-40">
                    <div class="mi-heading">
                        <h2>How it works</h2>
                    </div>
                    <div class="mi-para-sub-heading">
                        <h3>Leverage agile frameworks to provide a robust synopsis for high level overviews.</h3>
                        <p>Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition. Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment. </p>
                        <a href="#" class="mi-btn mi-mt-20">Contact Us</a>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="mi-img-container">
                    <img style="height:100%" src="../../Content/img/workwithus.jpg" alt="image">
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="mi-img-container">
                    <img style="height:100%" src="../../Content/img/workwithus.jpg" alt="image">
                </div>
            </div>
            <div class="col-md-7">
                <div class="mi-pl-40">
                    <div class="mi-heading">
                        <h2>Why work with us?</h2>
                    </div>
                    <div class="mi-para-sub-heading">
                        900,000 business buyers every month
                        A business sold every hour!
                        65,000 enquiries to sellers every month
                        Your listing emailed to buyers based on their pre-set email alerts
                        Reach a National and International audience
                        <h3>Leverage agile frameworks to provide a robust synopsis for high level overviews.</h3>
                        <p>Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition. Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment. </p>
                        <a href="#" class="mi-btn mi-mt-20">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

